@use "../../scss/abstracts" as a;

.scoreContainer {
  aspect-ratio: 1/0.98;
  background-color: a.$bgGrey;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  position: relative;
  .scoreTitle{
    position: absolute;
    font-size: 0.9375em;
    font-weight: 500;
    top: 10%;
    left: 10%;
    z-index: 2;
  }
  .pieContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10%;
    padding: 30%;
    aspect-ratio: 1;
    z-index: 1;
    text-align: center;
    .score {
      font-size: 1.62em;
      font-weight: 700;
      color: a.$fontDark;
      z-index: 1;
    }
    .scoreDescription {
      font-size: 1em;
      color: a.$fontDarkGrey;
      z-index: 1;
    }
  }
}
