.mainDashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 86%;
  height: 86%;
  margin-top: 5%;
  margin-left: 8%;
  margin-bottom: 5%;
  margin-right: 5%;

  .header {
    height: auto;
  }
  .content {
    display: flex;
    justify-content: space-between;
    height: 65%;
    width: 100%;
  }
  .leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 72%;
    .displayHorizontal {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 43%;
      gap: 20px;
    }
  }
  .rightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 25%;
  }
}

.errorSection {
  display: flex;
  width: 100%;
  height: 100%;
}
