@use "../../scss/abstracts" as a;

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: auto;
  background-color: a.$calories;
  color: a.$bgRed;
  padding: 20px;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    max-width: 600px;
    text-align: center;
  }
}
