@use '../../scss/abstracts' as a;

.navContainer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.25);
    
    img{
        height: 70%;
        box-sizing: border-box;
        margin:1.5%;
    }
    .links{
        display: flex;
        height: 100%;
    align-items: center;
    gap: 10vw;
    justify-content: flex-end;
    &:last-child{
        margin:5vw;
    }
    a{
        font-size: 1.5em;
        color: a.$fontBright;
        text-decoration: none;
    }
}
}