.radarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/0.98;
  height: 100%;
  background-color: hsla(203, 9%, 17%, 1);
  border-radius: 5px;
  padding: 1% 0%;
}
