//colors
$bgDark: hsla(240, 20%, 1%, 1);
$bgGrey: hsla(0, 0%, 98%, 1);

//barchart colors
$red: hsla(0, 100%, 45%, 1);
$dark: hsla(203, 9%, 17%, 1);
$hover: hsla(0, 0%, 77%, 0.5);
$fontGrey: hsla(228, 9%, 50%, 1);
$fontBright:hsla(0, 0%, 100%, 1);
$fontRed:hsla(0, 100%, 45%, 1);
$fontDark: hsla(0, 0%, 0%, 1);