.mainDashboardContainer {
  display: flex;
  flex-direction: column;
  width: 91%;
  // height: 91%;
    gap:7%;
  margin-top: 5%;
  margin-left: 7%;
  margin-bottom: 5%;

  .header {
    height: auto;
  }
  .content {
    display: flex;
    height: 70%;
    width: 100%;
    gap:20px;
  }
  .leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 89%;
    width: 65%;
    gap: 15px;
    .displayHorizontal {
      display: flex;
      justify-content: space-between;
      width: 100%;
      // height: 100%;
      gap: 20px;
    }
  }
  .rightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 100%;
    width: 20%;
    gap: 20px;

  }
}
