.mainDashboardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 4%;
    margin-top: 5%;
    margin-left: 7%;
    margin-bottom: 6%;
    margin-right: 6%;
    .header{
        height: 8%;
    }
    .content{
        display: flex;
        justify-content: space-between;
        gap: 3%;
        height: auto;

    }
    .leftContent{
        display: flex;
        flex-direction: column;
        gap: 5%;
        height: auto;
        width: 75%;
        .displayHorizontal{
            display: flex;
            gap: 2%;
            justify-content: space-between;
            width: 100%;
        }
    }
    .rightContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: 27%;
        gap: 4%;
    }
}