@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-width: 1024px;
  min-height: 780px;
  max-width: 1440px;
  max-height: 1024px;
}

#root {
  height: 100%;
  width: 100%;
}
