
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
}


:root{
min-width: 1024px;
min-height: 780px;
// max-width: 1440px;
// max-height: 1024px;
// width: fit-content;
// height: fit-content;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}